<%= form_for(@user,  :url => update_credential_url ,:method => :post, :html => {:class => 'register'}) do |f| %>
  <div class="formBody">
	  <div class="row">
      <%= f.label :password, "Password" %>
      <%= f.password_field :password, :class => "text", :tabindex => 1 %>
    </div>
  
    <div class="row">
      <%= f.label :password_confirmation, "password_confirmation" %>
      <%= f.password_field :password, :class => "text", :tabindex => 1 %>
    </div>
  

		<div class='row'>
			<div>
				<%= submit_tag "Update", {:class => 'submitButton'} %>
			</div>
		</div>
  </div>
<% end %>