<div class="bottomWrapper">
	<div class="copyrightContainer">
  		<ul>
        <!-- <li> <%#= link_to "About", page_path('about')%> 
          <%= link_to "About", "http://google.com" %>
        </li>
        <li> <%= link_to "Blog", 'http://blog.spot.us' %> </li>
        <li> <%#= link_to "Press", page_path('press') %> 
          <%= link_to "Press", "http://google.com" %>
        </li>
        <li> <%= link_to "Contact", "http://google.com" %></li>
        <li> <%= link_to "Terms of Use", "http://google.com" %> and <%= link_to "Privacy", "http://google.com" %> </li> -->
    		<li> Copyright &copy; <%= Time.now.year %> Sableng.com </li>
  		</ul>
  <div class="clear"> </div>
</div>
