<%= javascript_include_tag "/javascripts/ckeditor/ckeditor.js" %>

<%= form_for( @story, :url => 'http://api2.transloadit.com/assemblies', :html => { :multipart => true, 
	  :id=>"new_story_form" }) do |f| %>
	  <input type="hidden" name="params" value="<%= transloadit_value_json%>" />
	<div class="row">
		<%= f.label     :title, "Your Story's Title" %>
		<%= f.text_field :title, :rows => 2	, :value => @story && @story.title ? @story.title : TEXT[:title], :onclick => "clear_text('headline', '#{TEXT[:title]}')", 
		:class => @story && @story.title ? "" : "gray_text", :id => "headline" %>
	</div>

	<div class="row">
		<%= f.label :content, "This is your story body." %>
		<%= f.cktext_area :content, :width=>'750px', :height=>'200px' %>
	</div>
	

	<div class="row">
		<label>Add Media</label>
	</div>
	
	
	<div class="row media">
		<label>
			Upload A Featured Image
			<br/>
		</label>
		<%= f.file_field :featured_image %><br/>
		<span class="small quieter"> JPEG, PNG and GIF's less than 5 MB.</span>
	</div>



	<div class="float-left">
		<%= image_submit_tag image_path('admin/save.png') %>
	</div>
<% end %>


<script type="text/javascript">
var tlProtocol = (('https:' == document.location.protocol) ? 'https://' : 'http://');
document.write(unescape("%3Cscript src='" + tlProtocol + "assets.transloadit.com/js/jquery.transloadit2.js' type='text/javascript'%3E%3C/script%3E"));

console.log("Protocol is initialized");
</script>
<script type="text/javascript">
   // We call .transloadit() after the DOM is initialized:
   jQuery(document).ready(function() {
     jQuery('#new_story_form').transloadit({wait: true});
   });
</script>
