<li>
  <h2>
    <%= link_to category.name , "#"%>
    <!-- <a href="http://www.forbes.com/business/">business</a> -->
  </h2>
  <ul class="channel">
    
    <li class="main clearfix">
      
      <%= link_to story_public_url(stories.first) do %>
        <%= image_tag StoryImage.find(:first, :conditions => {
          :image_type => "teaser",
          :story_id => stories.first.id
        }).url, :class => "fleft" %>
      <% end %>
      
      
      <article class="hedbyline">
        <h3>
          <%= link_to stories.first.title, story_public_url( stories.first )%>
        </h3>
        <div class="byline"><%= stories.first.user.profile.name %></div>
      </article>
    </li>
    
    <% for story in stories[1..(stories.count)]%>
      <li>
        <h4>
          <%= link_to story.title, story_public_url(story)%>
        </h4>
        <div class="byline"><%= story.user.profile.name %></div>
      </li>
    <% end %>  
  </ul>
  
  <% if category.advertisements.count > 0 %>
  <ul class="channel" style="padding-top:10px; padding-bottom:10px; text-align:center; background-color:rgb(230,230,230); margin:0px;">
    <h2>Advertorial</h2>
    
    <% category.advertisements.each do |ads| %>
      <%= ads.content.html_safe %>
    <% end %>
    <!-- <a href="http://www.surabaya.go.id/" style="padding:0 10px;">
      <%= image_tag "http://s3.amazonaws.com/sablengmedia/1png.png" ,:width=> "100" %>
    </a>
    <a href="http://www.baliprov.go.id/" style="padding:0 10px;">
      <%= image_tag "http://s3.amazonaws.com/sablengmedia/2png.png", :width=> "100" %>
    </a>
    <a href="http://www.borobudurpark.co.id/" style="padding:0 10px;">
      <%= image_tag "http://s3.amazonaws.com/sablengmedia/3png.png", :width=> "100" %>
    </a>
    <a href="http://www.bunaken.org/" style="padding:0 10px;">
      <%= image_tag "http://s3.amazonaws.com/sablengmedia/4png.png", :width=> "100" %>
    </a>
    <a href="http://www.surabaya.go.id/" style="padding:0 10px;">
      <%= image_tag "http://s3.amazonaws.com/sablengmedia/1png.png", :width=> "100" %>
    </a> -->
  </ul>
  <% end %>
  
  
</li>