<li>
  <h2>
    <%= link_to category.name , "#"%>
    <!-- <a href="http://www.forbes.com/business/">business</a> -->
  </h2>
  <ul class="channel">
    
    <li class="main clearfix">
      
      <%= link_to story_public_url(stories.first) do %>
        <%= image_tag StoryImage.find(:first, :conditions => {
          :image_type => "teaser",
          :story_id => stories.first.id
        }).url, :class => "fleft" %>
      <% end %>
      
      
      <!--       <a href="http://www.forbes.com/sites/tomiogeron/2011/09/19/google-wallet-rolls-out-on-sprint/"><img class="fleft" src="http://blogs-images.forbes.com/thumbnails/blog_1427/pt_1427_3630_o.jpg?t=1316474932"></a> -->
      <article class="hedbyline">
        <h3>
          <%= link_to stories.first.title, story_public_url( stories.first )%>
        </h3>
        <div class="byline">Tim Worstall</div>
      </article>
    </li>
    
    <% for story in stories[1..(stories.count)]%>
      <li>
        <h4>
          <%= link_to story.title, story_public_url(story)%>
          </h4>
          <div class="byline">Agustino Fontevecchia</div>
      </li>
    <% end %>  
  </ul>
</li>