<div class="blockAd" style="text-align: center; padding-bottom:0px !important; text-align:center">
  <p style="line-height:17px; padding-top:5px; padding-bottom:5px; background-color:rgb(230,230,230); width:980px; margin: 0 auto;">Dicari kontributor dari seluruh daerah di Indonesia! <br />Informasi dan tulisan anda pasti kami <b>hargai</b>! <br />Tolong naskah ataupun informasi dikirim ke <b>sableng@sableng.com</b>
  </p>
</div>
<section id="abovefold" class="clearfix"> 
  <!--Start: top nav--> 

  <div id="topNav">
    <ul class="country fleft">
      <li>
        <div style="display: none;" class="shareholder">
        </div>
      </li>
    </ul>

    <div class="shareMagazine fright">
      <div class="share fleft">
      </div>
    </div>

  </div>

<!--end: top nav-->

<!--Start: top stories-->    
  <%= render :partial => "top_story_container"%>

<!--end: top stories-->
<!--start: special reports--> 

  <section id="specialReports" class="ads">
    <h2>advertorial</h2>

    <div class="carousel">
      <div  class="stepcarousel">
        <div style="width: 2736px;" class="belt">
          <div style="float: none; position: absolute; left: 0px;" class="panel image">
          <a href="#">
            <%= image_tag "http://s3.amazonaws.com/sablengmedia/spedel.png" %>
          </a>
          </div>
        
        
          <div style="float: none; position: absolute; left: 230px; " class="panel image">
          <a href="http://www.baliprov.go.id/">
            <%= image_tag "http://s3.amazonaws.com/sablengmedia/2png.png" %>
          </a>
          </div>
        
        
          <div style="float: none; position: absolute; left: 460px; " class="panel image">
          <a href="http://www.borobudurpark.co.id/">
            <%= image_tag "http://s3.amazonaws.com/sablengmedia/3png.png" %>
          </a>
          </div>
        
          <div style="float: none; position: absolute; left: 690px; " class="panel image">
          <a href="http://www.bunaken.org/">
            <%= image_tag "http://s3.amazonaws.com/sablengmedia/4png.png" %>
          </a>
          </div>
        </div> <!-- end of belt-->
      </div>  <!-- end of stepcarousel -->
    </div>		
  </section>

  <section id="specialReports">
    <h2>komik s'bleng</h2>

    <div class="carousel">
      <div id="mygallery" class="stepcarousel">
        <div style="width: 2736px;" class="belt">
          <% counter = 0 %>
          <% for story in Story.find(:all, :limit => 4, :conditions => {:category_id => 9}, :order => "created_at DESC" )%>
            <div style="float: none; position: absolute; left: <%= counter*230%>px;" class="panel image">
              <% counter = counter + 1 %>

              <%= link_to story_public_url(story) do %>
                <%= image_tag StoryImage.find(:first, :conditions => {
                  :image_type => "homepage",
                  :story_id => story.id
                  }).url %>
              <% end %>

              <h4>
                <%= link_to story.title, story_public_url(story) %>
              </h4>
            </div>
          <% end %>
        </div> <!-- end of belt-->
      </div>  <!-- end of stepcarousel -->
    </div>		
  </section>
  
  

  <!--end: special reports--> 
  <!--Begin: left rail--> 
  <div id="leftRail" class="fleft clearfix">
    <ul id="newstream">
      <%# counter = 0 %>
      <% for category in Category.all[2..(Category.count)] %>
        <% if category.stories.count > 0 %>
          <%= render :partial => "category", :locals =>{:stories => category.stories.order("created_at DESC").limit(4),
              :category => category} %>
        <% end %>
        <%# counter = counter + 1 %>
        <%# if counter == 2 %>
          <%#= render :partial => "newstream_ads"%>
        <%# end %>
      <% end %>
    </ul>
  </div>
    <!--End: left rail--> 
    <!--Begin: right rail--> 
  <aside>
    <div class="blockAd">
     
      <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHYxNTlNVF9nblJVQVZXMkREWnRQbWc6MQ">
        <!-- <img src="http://s3.amazonaws.com/sablengmedia/real_maskot-300x424.jpg" alt=""  width="300">  -->
        <img src="http://s3.amazonaws.com/sablengmedia/iklan+panda+copy.jpg" />
      </a>

    </div>    
    
    
    <%= render :partial => "most_popular"%>
    <%= render :partial => "intelligent_investing" %>
    <%= render :partial => "data_driven" %>
    <div style="position: static; top: 0pt;" id="blockAdStalker"></div>			
  </aside>
  
</section>