<section id="abovefold" class="clearfix"> 
  <!--Start: top nav--> 

  <div id="topNav">
    <ul class="country fleft">
      <li>
        <div style="display: none;" class="shareholder">
        </div>
      </li>
    </ul>

    <div class="shareMagazine fright">
      <div class="share fleft">
      </div>
    </div>

  </div>

<!--end: top nav-->

<!--Start: top stories-->    
  <%= render :partial => "top_story_container"%>

<!--end: top stories-->
<!--start: special reports--> 

  <section id="specialReports">
    <h2>komik sableng</h2>

    <div class="carousel">
      <div id="mygallery" class="stepcarousel">
        <div style="width: 2736px;" class="belt">
          <% counter = 0 %>
          <% for story in Story.find(:all, :limit => 4 )%>
            <div style="float: none; position: absolute; left: <%= counter*230%>px;" class="panel image">
              <% counter = counter + 1 %>

              <%= link_to story_public_url(story) do %>
                <%= image_tag StoryImage.find(:first, :conditions => {
                  :image_type => "homepage",
                  :story_id => story.id
                  }).url %>
              <% end %>

              <h4>
                <%= link_to story.title, story_public_url(story) %>
              </h4>
            </div>
          <% end %>
        </div> <!-- end of belt-->
      </div>  <!-- end of stepcarousel -->
    </div>		
  </section>

  <!--end: special reports--> 
  <!--Begin: left rail--> 
  <div id="leftRail" class="fleft clearfix">
    <ul id="newstream">
      <% for category in Category.all[2..(Category.count)] %>
        <%= render :partial => "category", :locals =>{:stories => category.stories.limit(4),
        :category => category} %>
      <% end %>
    </ul>
  </div>
    <!--End: left rail--> 
    <!--Begin: right rail--> 
  <aside>
    <div class="blockAd">
      <h3>FunBike HUT GPIB 63th</h3>
      <br />
      <br />
      <a href="https://docs.google.com/spreadsheet/viewform?formkey=dHYxNTlNVF9nblJVQVZXMkREWnRQbWc6MQ">
        <img src="http://s3.amazonaws.com/sablengmedia/real_maskot-300x424.jpg" alt=""  width="300"> 
      </a>
      <p style="line-height:30px;">
        Biaya Pendaftaran <b>Rp. 50,000</b>, langsung dibayar di gereja Imanuel Gambir tanggal <b>29 October</b><br />
        Contact Person <b>Bapak Eko (021-68600661) </b><br />
      </p>
    </div>    
    <%= render :partial => "most_popular"%>
    <%= render :partial => "intelligent_investing" %>
    <%= render :partial => "data_driven" %>
    <div style="position: static; top: 0pt;" id="blockAdStalker"></div>			
  </aside>
  
</section>