<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
  <title><%= @title || "Sumbernya Berita Faktual" %> - Sableng.com</title>
  
  <%#= render :partial => "layouts/public_view/meta" %>
  <%= stylesheet_link_tag "application" %>
  <%= csrf_meta_tag %>
  <%#= render :partial => "layouts/public_view/stylesheets" %>
	<%#= render :partial => "layouts/public_view/javascripts" %>
	
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if IE 6]>
  <%= javascript_include_tag "DD_belatedPNG" %>
  <script>
  DD_belatedPNG.fix('a, b, div, img, span, ul, ol, li, td, th, hgroup,nav, section, small, b, i, em, cite, h1, h2, h3, h4, h5, h6, #editbrand, .dropdown, #header_subscriber, .hs_form_sub, .back, .next, .plusmore, .fbook, .name a, .number, .prev, .nexxt, .twitterShare, .wealth,.wealthTime dd, .bar, #footer_datapartners, #footer_sites');
  </script>
  <%= stylesheet_link_tag "ie6" %>
  <![endif]-->


	<%= javascript_include_tag  "application" %>
	
	<script type="text/javascript">var switchTo5x=true;</script><script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script><script type="text/javascript">stLight.options({publisher:'adc89722-75cc-40de-bc25-c5f3ae781ace'});</script>
	
	
	
	<link rel="SHORTCUT ICON" href="http://s3.amazonaws.com/sablengmedia/sableng-favicon.png">
</head>

<body>
  <div style="display:none;">
  </div> 
 
  <div id="omniture" style="display:none">
  </div> 
 

 
  <center>
    <div class="topAd">
    </div>
  </center>

<!-- Start: content -->
  <div class="globalwrapper">
    <header>
      <div class="headerwrapper">
        <%#= render :partial => "primary_nav" %>
    
        <!-- Start: Branding/Search/User Info -->
        <div id="header_masthead" class="clearfix">
          <div id="brand_search">
            <%= link_to root_url, :id => "main_forbes_logo" do %>
              <img src="http://s3.amazonaws.com/sablengmedia/sableng2.gif" alt="" height="120" width="357">
            <% end %>
            
            <div id="header_userinfo">
              <a id="login" href="http://members.forbes.com/membership/signup.jhtml">Login</a>
            </div>


            <div id="header_search">
              <form action="http://search.forbes.com/search/find">
                <div class="hs_inputbox">
                  <input value="searchtabgeneraldark" name="tab" type="hidden">
                  <input rel="Search news, business leaders, and stock quotes" class="hs_form_text clearFieldBlurred" value="Search news, business leaders, and stock quotes" name="MT" type="text">
                  <input class="hs_form_sub" type="submit">
                </div>
              </form>
            </div>
<!-- End: Searchbox -->
          </div>
        <!-- End: Branding/Search/User Info -->        
        </div> <!-- end header_masthead -->
      </div> <!-- end headerwrapper-->
            
    </header><!-- End: header -->
  </div>
  <div id="header_fakeit"></div>

  <style type="text/css">
  #mygallery{overflow: hidden;}
  </style>



<!-- Start: content --> 
  <div id="contentwrapper">    
  	<%= yield %>
   	<%#= render :partial => "vertical_share_column"%>
  </div>


<!-- Start: footer --> 



  <div class="clearfix" style="display:block;"></div>
	<!-- Start: LISTS VIEW  -->
	<%#= render :partial => "layouts/listwatch_footer"%>
	<%= render :partial => "layouts/listwatch_fake_footer"%>
 

  <%#= render :partial => "layouts/global_footer"%>

      
		
  </body>
</html>






